body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: auto;
    background-color: white;
}
.navbar-brand{
  font-family:'Times New Roman', Times, serif;
  color: brown;
}
.header{
  margin-left: 22%;
  width: 50%;
  padding: 40px;
  border-radius: 5px;
  border: black 1px solid;
}
p span{
  margin-left: 50px;
}
/* education */
.card-education{
  border-radius: 3px;
}
 /* project */
.img-details {
  color: black;
  background-color:white; 
}