body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: auto;
    background: linear-gradient(to bottom, #e0f7fa, #ede7f6);
}
.navbar{
  background: linear-gradient(to bottom, #e0f7fa, #ede7f6);
}
.hero{
    height:100vh;
    width: auto;
    padding: 5px 5px;
}
.hero-1{
    margin-top: 25%;
}

a {
    text-decoration: none; 
  }
a.button {
    display: inline-block;
    padding: 10px 60px;
    background-color: #f9f791; 
    text-decoration: none; 
    margin-left: 32%;
    color: black;
}
a.button:hover {
    background-color: #ebdd3d; 
}
.image-move-continuous {
    animation: moveTopToBottom 3s ease-in-out infinite;
}
      
@keyframes moveTopToBottom {
    0% {
    transform: translateY(-10px); /* Start above the original position */
}
    50% {
    transform: translateY(20px); /* Move down to 10px below the original position */
}
    100% {
    transform: translateY(-10px); /* Return back to the top position */
}
}

/* about section------------------------------------- */
.content {
    opacity: 0; 
    transform: translateY(100px); 
    animation: slideUp 1.5s ease-in-out forwards; 
    cursor: pointer;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(80px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  /* education */
.card-education{
  border-radius: 3px;
}

  /* skill */
  .skill{
    margin-left: 10%;
  }
